
.gbc_ImageWidget.gbc_style_rounded10 {
    border-radius: 10%;
}
.gbc_ImageWidget.gbc_style_rounded25 {
    border-radius: 25%;
}
.gbc_ImageWidget.gbc_style_rounded50 {
    border-radius: 50%;
}
.gbc_ListViewRowImage img {
    border-radius: 50%;
}

